<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" 
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
  <%= stylesheet_link_tag 'application', 
    media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 
    'data-turbolinks-track': 'reload' %>
</head>


<body class="container text-body">
  <%= render template:'layouts/hello_header' %>
  <%= yield %>
  <%= render template:'layouts/hello_footer' %>
</body>
</html>